In [2]:
import numpy as np
import pandas as pd

In [9]:
print(pd.__version__)

1.1.5

In [20]:
df = pd.read_excel('/Users\/aruhy/OneDrive/デスクトップ/data/current density 0.4V.xlsx',header=8, names=['x座標','y座標','i[A/m^2]'])
df.head()

        x座標       y座標      i[A/m^2]
0  0.000669  0.010415  13057.283873
1  0.000671  0.010224  13057.283873
2  0.000673  0.010035  13057.283873
3  0.000677  0.009706  13057.283873
4  0.000678  0.009656  13057.283873

In [21]:
df.shape

(2451, 3)

In [22]:
df.insert(2, 'V[V]', 0.4)
df

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2446  0.000100  0.000788   0.4  32691.611952
2447  0.000107  0.000591   0.4  32691.611952
2448  0.000115  0.000394   0.4  32691.611952
2449  0.000125  0.000197   0.4  32691.611952
2450  0.000126  0.000000   0.4  32691.611952

[2451 rows x 4 columns]